:root {
  --navy: #002138;
  --red: #D22F25;
  --gray: #CACBCC;
  --green: #338b38;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

header {
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: var(--navy);
  color: white;
  z-index: 9999;
}

header h1 {
  margin-left: 3%;
}

.grid {
  display: grid;
  grid-template-columns: 200px repeat(14, 20rem);
  grid-template-rows: 70px repeat(6, 100px);
  height: 650px;
  grid-column-gap: 7px;
  grid-row-gap: 7px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  text-align: center;
  padding-left: 5px;
}

.col {
  background-color: var(--gray);
  border: 2px solid #ccc;
  text-wrap: pretty;
  justify-content: center;
  white-space: normal;
}

.fixed {
  align-items: center;
  position: sticky;
  left: 0;
  font-size: 1.5rem;
}

.title {
  border: 0px;
  font-size: 1.45rem;
  font-weight: bold;
  background-color: white;
}

.bottom-content {
  align-self: flex-end;
}

.sm-font {
  font-size: .8rem;
  word-wrap:break-word;
  text-wrap: wrap;

}

.m-0 {
  margin-top:0;
  margin-bottom:0;
}

.red {
  background-color: var(--navy);
  color: var(--gray);
  font-weight: bold;
  border: 0px;
  display: flex;
  align-items: center;
  box-shadow: -5px 5px var(--gray);
}

.day-label {
  display: flex;
  align-items: end;
  font-size: 1.45rem;
  font-weight: bold;
  border: 0px;
  background-color: white;
}

.day-label > * {
  margin-bottom: .6rem;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-form-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 4px;
}

.start {
  justify-content: start;
  align-items: center;
}

.start > * {
  margin-right: 7px;
}

.button-add {
  background-color: var(--navy);
  color: #fff;
  font-size: 1.2rem;
  padding: 12px 24px;
  border: none;
  border-radius: 30px;
  transition: .3s;
}

.button-clear {
  background-color: var(--red);
  color: #fff;
  font-size: 1.2rem;
  padding: 12px 24px;
  border: none;
  border-radius: 30px;
  transition: .3s;
  margin-top: 10px;
}

.button-delete {
  background-color: var(--red);
  color: #fff;
  font-size: 1.2rem;
  padding: 12px 24px;
  border: none;
  border-radius: 30px;
  transition: .3s;
  margin-left: 20px;
}

.button-save {
  background-color: var(--green);
  color: #fff;
  font-size: 1.2rem;
  padding: 12px 24px;
  border: none;
  border-radius: 30px;
  transition: .3s;
  margin-left: 20px;
}

.button-load {
  background-color: white;
  color: var(--navy);
  font-size: 1.2rem;
  padding: 12px 24px;
  border: none;
  border-radius: 30px;
  transition: .3s;
  margin-left: 20px;
}

.button-search{
  background-color: white;
  color: var(--navy);
  font-size: 1.2rem;
  padding: 12px 24px;
  border: none;
  border-radius: 30px;
  transition: .3s;
  margin-left: 20px;
}

.button-date {
  background-color: var(--gray);
  color: black;
  font-size: 1.2rem;
  padding: 12px 24px;
  border-radius: 30px;
  transition: .3s;
  margin-left: 20px;
}

.button-print {
  background-color: var(--navy);
  color: var(--white);
  font-size: 1.2rem;
  padding: 12px 24px;
  border: 2px solid white;
  border-radius: 30px;
  transition: .3s;  
  margin-left: 20px;
}

.button-addNote {
  background-color: var(--navy);
  color: var(--white);
  font-size: 1.2rem;
  padding: 12px 24px;
  border: 2px solid white;
  border-radius: 30px;
  transition: .3s;
  margin-left: 20px;
}

.button-add:hover {
  background-color: black;
}

.button-clear:hover {
  background-color: black;
}

.button-save:hover {
  background-color: black;
}

.button-load:hover {
  background-color: black;
  color: white;
}

.button-search:hover {
  background-color: black;
  color: white;
}

.button-date:hover {
  background-color: black;
  color: white;
}

.button-print:hover {
  background-color: white;
  color: black;
}

.input {
  font-size: 1rem;
  margin-right: 1%;
  width: 100%;
  max-width: 305px;
  box-sizing: border-box;
  resize: none;
}

.dragMe {
  display: flex;
  font-family: monospace;
  font-size: 1rem;
  justify-content: center;
  align-items: center;
  word-break: break-word;
  margin-left: 1%;
  height: 36px;
  border: 3px dotted var(--navy);
  width: 305px;
  text-wrap: pretty;
  /* margin-top: 1%; */
}

.dragInto.drag-over {
  background: #eee;
}

.dragged {
  border: 2px solid var(--navy);
  background-color: white;
}

.highlight {
  background-color: var(--gray);
  color: var(--navy);
}

#trash-can {
  width: 300px;
  height: 180px;
  background-color: #f2f2f2;
  border: 2px dashed #ccc;
  margin: 20px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}

#trash-can i {
  font-size: 2rem;
  color: var(--red);
}

.grid-form {
  display: grid;
  grid-template-columns:200px repeat(4, 1fr) ;
  row-gap: 8px;
  column-gap: 20px;
}

.form-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
}

form label {
  line-height: 1.3;
}

h3 {
  padding: 0;
  margin:.41em;
  margin-right: 10px;
  font-size: 1rem;
  font-weight: normal;
}

.modal {
  position: fixed;
  top: 20%;
  left: 20%;
  width: 60%;
  height: 65%;
  background-color: white;
  display: grid;
  z-index: 1000;
  color: var(--navy);
  flex-direction: column;
  font-size: 1.5rem;
  border: double 10px;
}

.note-modal {
  position: fixed;
  top: 20%;
  left: 20%;
  width: 60%;
  height: 25%;
  background-color: white;
  z-index: 1000;
  color: var(--navy);
  font-size: 1.5rem;
  border: double 10px;
  display: flex;
  flex-direction: column;
}

.modal p span {
  font-weight: bold;
}

.flex-modal {
  flex-direction: row;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.editable {
  padding: 10px;
}

/* Color Conditioning */
.pastDate {
  color: var(--red);
}

.goodToRun {
  border-color: var(--green);
}

.yellowToRun {
  border-color: rgb(224, 188, 28);  
}

.badToRun {
  border-color: var(--red);
}

.date-picker {
  position:fixed;
  top: 0;
  left:0;
  width:100%;
  height:100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.date-picker button{
 color: red;
 font-size: 2rem;
}

.date-picker input {
  font-size: 2rem;
}

#print-note {
  display:none;
}

.printNoteArea {
  height: 75%;
  font-size: 2rem;
}

.button-howTo {
  background-color: var(--navy);
  color: var(--white);
  font-size: 1.2rem;
  padding: 12px 20px;
  border: 2px solid white;
  border-radius: 60%;
  transition: .3s;
  margin-left: 22%;
}

#how-to-modal {
  position: fixed;
  top: 15%;
  left: 20%;
  width: 60%;
  height: 60%;
  background-color: white;
  z-index: 1000;
  color: var(--navy);
  font-size: 1.2rem;
  border: double 10px;
  display: flex;
  flex-direction: column;
  display:none;
}

#search-modal {
  position: fixed;
  top: 15%;
  left: 20%;
  width: 60%;
  height: 60%;
  background-color: white;
  z-index: 1000;
  color: var(--navy);
  font-size: 1.5rem;
  border: double 10px;
  display: flex;
  flex-direction: column;
  display:none;
  justify-content: center;
  align-items: center;
}

#search-modal textarea {
  margin-left: 1rem;
  font-size: 1rem;
  padding: 1rem 2rem;
}

#btn-close-modal {
  position: absolute;
  top:10px;
  right: 10px;
  color: black;
  background-color: var(--red);
}

.button-go {
  background-color: var(--green);
  color: #fff;
  font-size: 1.2rem;
  padding: 12px 24px;
  border: none;
  border-radius: 30px;
  transition: .3s;
  margin-left: 20px;
}

.button-go:hover {
  background-color: black;
}

button {
  cursor: pointer;
}