.grid {
  display: grid;
  grid-template-columns: 10rem repeat(14, 20rem);
  grid-template-rows: 70px repeat(8, 105px);
  grid-column-gap: 7px;
  grid-row-gap: 7px;
  overflow-x: auto;
  overflow-y: auto;
  white-space: nowrap;
  text-align: center;
  padding-left: 5px;
  padding-bottom: 2px;
}

.button-print {
  background-color: var(--navy);
  color: var(--white);
  font-size: 1.2rem;
  padding: 12px 24px;
  border: 1px solid white;
  border-radius: 30px;
  transition: .3s;
  margin-left: 35%;
}

.fixed-r {
  position: sticky;
  top: 0%;
  z-index: 1;
}