:root {
    --navy: #002138;
    --red: #D22F25;
    --gray: #CACBCC;
}

html{
    font-family: Arial, Helvetica, sans-serif;
}


header {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 200%;
    height: 90px;
    background-color: var(--navy);
    color: white;
}

header h1 {
    margin-left: 40px;
}

.flex-container {
    display:flex;
    text-align: center;
}

.sidebar{
    position: fixed;
    margin-top: 4%;
    width: 10%;
    text-align: center;
    height: 100%;
}

.Table-Title {
    font-size: 2em;
    font-weight: bold;
    height: 10%;
}

.Machine {
    font-size: 2em;
    font-weight: bold;
    margin: 1%;
    background-color: var(--red);
    border-radius: 15px;
    height: 10%;
    z-index: 100;
}

.scrolling-container {
    margin:4%;
    margin-left: 10%;
    overflow: auto;
    white-space: nowrap;
    width: 200%;
    height: 100%;
}

.col{
    width: 5%;
}

.Item-Holder {
    font-size: 2em;
    font-weight: bold;
    padding: 50px 0px;
    margin: 1%;
    background-color: var(--gray);
    border: 1px solid var(--navy);
    border-radius: 15px;
    height: 5%;
}

.Day {
    font-size: 2em;
    font-weight: bold;
    padding: 50px 0px;
    background-color: white;
    border: 0px;
    height: 5%;
}
